body {
	font-size:  16px;
	background-color: white;
	color:  black;
	font-family:  'Roboto', 'sans-serif';
}

#header-nav {
	background-color: #666666;
	border-radius:  0;
	border:  0;
	color: white;
	height: 200px;	
}

#HeaderFont {
	background-color: darkgray;
	border-radius:  0;
	border:  0;
	color: white;
	height: 200px;	
}

nav h1 {
	position: relative;
	top:  -10px;
	left:  0px;

}


#logo-img {
	background:  url('../assets/hat.jpg') no-repeat;
	height:  150px;
	width: 150px;
	border-radius: 25px;
	
	 
}

.logo{
	background:  url('../assets/hat.jpg') no-repeat;
	height:  150px;
	width: 150px;
	border-radius: 25px;
}
.navbar-brand a:link, .navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	font-family: Oxygen;
}

.navbar-brand h1 {
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	line-height: 0.75;
	margin-top: 10px;
	font-size: 2em; 
	font-style: italic;

}
.navbar-brand p {
	font-size: 0.7em;
	margin-top: 15px;
}
.navbar-brand p span {
	vertical-align:  middle;
	font-family: Oxygen;
	color: white;
}
 
#header-nav container {
	position: relative;
}



nav .navbar-toggler, .collapse .navbar-collapse, #navbarSupportedContent {
	position:  absolute;
	top: 60px;
	right: 10px;
}

#main-content .img-fluid {
	margin-top: 1px;
 	border-radius:  25px;
}

#menu-tile, #special-tile, #map-tile {
	height: 250px;
	width:  100%;
	margin-bottom: 15px;
	position:  relative;
	border:  2px solid #3F0C1F;
	overflow: hidden;
}

#menu-tile:hover, #special-tile:hover, #map-tile:hover {
	box-shadow:  0 1px 5px 1px #cccccc;
}


nav div  {
	position:  relative;
}


ul {
	position: absolute;
	top: 150px;
	right: 100px;
	
}



@media( max-width: 900px) {
	.chicken {
	background-color: pink;
	
}



.beef {color:  black}

.sushi{
	background-color:  pink;

}

.dropbtn {
  background-color: lightgray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

.dropdown {
  
  display: inline-block;
  position:  absolute;
  left: 5px;
  bottom: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 2000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: darkgray;
}

#icon {
	position:  absolute;
	right:  0;
}


}


@media( min-width: 901px) {
	.chicken, .beef .sushi, .dropbtn ,.dropdown ,.dropdown-content ,.dropdown-content 
 ,.dropdown-content , .dropdown:hover , .dropdown-content 
, .dropdown:hover , .dropbtn {

	display: none;


}




#nav HeaderFont {
	position:  relative;
}

}

h3 {
	text-weight:  bold;

	
}



.box {
	
	margin: 10px;
	border:  2px solid black;
	background-color: lightgray;
	border-radius: 10px;

}

.content {
	
}

#chickenn {
	background-color: pink;
	margin-bottom: 1px black;
	border-radius: 10px;
	

}

#beeff {
	background-color: #b19cd9;
	border-radius: 10px;
}

#sushii{
	background-color: lightblue;
	border-radius: 10px;
}

h2 {
	text-align: center;
	font-weight: bold;
}